body {
    background-image: none;
    background-color: rgb(0, 0, 0);
}

.scanner-main {
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: beige;
}

.scanner-content {
    justify-items: center;
    height: 55%;
    width: 40%;
}

.scanner {
    box-sizing: border-box;
    text-align: center;
    height: fit-content;
    width: 85%;
    margin-top: 5px;
    padding: 10px 10px 5px;
    border-radius: 5px;
    background-color: white;
}

.scanner-header {
    margin: 0 0 10px;
    padding: 0;
    font-size: 18px;
}


.reader {
    width: 300px;
    background-color: blueviolet;
}

.clock_date {
    display: flex;
    gap: 5px;
    margin: 15px 0 0;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

#qr_code_form {
    margin: 10px 0 2px;
}

#qr_code_submit {
    margin-left: 5px;
}

#qr_code_submit:hover {
    cursor: pointer ;
    text-decoration: underline;
}

.scan-record {
    box-sizing: border-box;
    justify-items: center;
    align-content: center;
    height: 45%;
    width: 100%;
    overflow-y: scroll;
    margin: 0 100px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.2);
}

.scan-record::-webkit-scrollbar {
    display: none;
}

.scan-record table {
    width: 90%;
    margin-bottom: 50px;
}

.scanner-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45%;
    width: 100%;
    padding-top: 30px;
}

.scanner-table-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: -10px;
    border-radius: 5px 5px 0 0;
    background-color: rgb(218, 218, 218);
}

.table-scanner {
    width: 100%;
    overflow-y: scroll;
    border-collapse: collapse; /* Ensures borders don't double up */
    background-color: rgb(218, 218, 218);
}

.table-scanner::-webkit-scrollbar {
    display: none;
}

.table-scanner th {
    border: 2px solid #ccc; /* Border for table cells */
    padding: 8px;           /* Spacing inside cells */
    text-align: left;       /* Align text to the left */
}

.table-scanner td {
    border: 2px solid #ccc; /* Border for table cells */
    padding: 8px;           /* Spacing inside cells */
    text-align: left;       /* Align text to the left */
}

.table-scanner th {
    text-align: center;
    background-color: rgb(142, 175, 235);
}

.table-scanner tr:nth-child(odd) {
    background-color: #ffffff;
}












@media (max-width: 639px) {
    .scanner-content {
        justify-items: center;
        height: 50%;
        width: 100%;
        background-color: olivedrab;
    }

    .scan-record {
        justify-items: center;
        align-content: center;
        height: 50%;
        width: 100%;
        overflow-y: scroll;
        background-color: darksalmon;
    }

    .scan-record table {
        width: 90%;
        margin: 0 10px 50px 10px;
    }
    
}

/*
video {
    width: 100%;
    max-width: 400px;
    border: 2px solid #000;
    border-radius: 8px;
}
.controls {
    margin-top: 20px;
}
*/

